@using ControleDeContatos.Enums;
@model UsuarioModel
@{
    ViewData["Title"] = "Editar usuario";
}
>
<div class="text-center"> 
    <br />
    <h1 class="display-4">Editar usuario</h1>
</div>

<form asp-controller="Usuario" asp-action="Editar" method="post">
    <input type="hidden" asp-for="Id"/>
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do usuário">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>

    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="Digite o e-mail do usuário">
        @Html.ValidationMessageFor(x => x.Email)

    </div>

    <div class="form-group">
        <label for="email">Login</label>
        <input type="text" asp-for="Login" class="form-control" placeholder="Digite o login do usuário">
        @Html.ValidationMessageFor(x => x.Login)
    </div> 

    <div class="form-group">
        <label for="nome" class="form-label">Perfil</label> 
        <select asp-for="Perfil" class="form-control">
            <option value="0">Selecione</option>
            <option value="@PerfilEnum.Admin">Administrador</option>
            <option value="@PerfilEnum.Padarao">Padrão</option>
        </select>
        @Html.ValidationMessageFor(x => x.Perfil)
    </div> 

    <br />
    <button type="submit" class="btn btn-primary btn-block">Editar </button>
    <a class="btn btn-secondary btn-block " asp-controller="Usuario" asp-action="Index" role="button">Voltar</a>
</form>