@model List<UsuarioModel>
@{
    ViewData["Title"] = "Listagem de Usuários";
}

<div class="text-center"> 
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Usuario" asp-action="Criar">Adicionar novo usuário</a>
    </div>
    <br />

    @if(TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }
 
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }
    
    <br />

    <h1 class="display-4">Listagem de Usuários</h1>

    <table class="table" id="table-usuarios" >
        <thead>
            <tr>
                <th scope="col" style="justify-content: center; align-items: center; text-align: center;">#</th>
                <th scope="col" style="justify-content: center; align-items: center; text-align: center;"> Nome</th>
                <th scope="col" style="justify-content: center; align-items: center; text-align: center;">Login</th>
                <th scope="col" style="justify-content: center; align-items: center; text-align: center;">E-mail</th>
                <th scope="col" style="justify-content: center; align-items: center; text-align: center;">Perfil</th>
                <th scope="col" style="justify-content: center; align-items: center; text-align: center;">Total de Contatos</th>
                <th scope="col" style="justify-content: center; align-items: center; text-align: center;">Data de cadastro</th>
                <th scope="col" style="justify-content: center; align-items: center; text-align: center;"></th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                foreach(var usuario in Model)
                {
                    <tr>
                        <th scope="row">@usuario.Id</th>
                        <td>@usuario.Nome</td>
                        <td>@usuario.Login</td>
                        <td>@usuario.Email</td>
                        <td>@(usuario.Perfil == ControleDeContatos.Enums.PerfilEnum.Admin ? "Administrador" : "Padrão")</td>
                        <td>
                            <a href="javascript:" class="btn btn-success btn-sm btn-total-contatos">@(usuario.Contatos != null && usuario.Contatos.Any() ? usuario.Contatos.Count() : 0)</a>
                        </td>
                        <td>@usuario.DataCadastro</td>
                        <td>
                         <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@usuario.Id" asp-controller="Usuario" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@usuario.Id" asp-controller="Usuario" asp-action="ApagarConfirmacao">Apagar</a>
                         </div>
                        </td>
                    </tr>
                }
            }                 
        </tbody>
    </table>
</div>
 